.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 25px;
}

.carousel {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  border-radius: 25px;
}

.slides-wrapper {
  display: flex;
  height: 100%;
  transition: transform 1s ease-out;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
  background: center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 80px;
  border-radius: 25px;

}

 .slide::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
  z-index: 1;
}

.slide-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: absolute;
  top: 40px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1;
}


.description {
  font-size: 40px;
  line-height: 1.5;
}

.btn {
  background: #233d00;
  color: #e3bd82;
  border: none;
  padding: 12px 32px;
  border-radius: 24px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #233d00;
  transform: scale(1.05);
}

.controls {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}

.dot.active {
  background: var(--accent);
  width: 32px;
  border-radius: 6px;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid var(--accent);
  border-radius: 50%;
  font-size: 24px;
  color: var(--accent);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.arrow:hover {
  background: rgba(227, 189, 130, 0.1);
  transform: translateY(-50%) scale(1.1);
}

.prev { left: 20px; }
.next { right: 20px; }